.advantages {
  padding-bottom: 60px;
  padding-top: 60px;
}

.advantages__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.advantages__item {
  @media screen and (max-width: 767px) {
    max-width: 450px;
    text-align: center;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

.advantages__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $background-button-color;

  max-width: 450px;
  height: 120px;
  margin-bottom: 30px;
}

.advantages__heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $link-color;

  margin-bottom: 10px;
}

.advantages__text {
  max-width: 450px;
}

.main-section__heading {
  max-width: 100%;
}
