.main-section {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/background-hero.jpg);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  padding-top: 118px;
  padding-bottom: 118px;

  @media screen and (min-width: 1200px) {
    background-size: 1600px auto;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.main-section--conteiner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-section__heading {
  color: $White-color;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    width: 360px;
  }

  @media screen and (min-width: 1200px) {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
